@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(#ffffff,#181818);
}

nav{
    width: 100%;
    height: 5vh;
    color: #ffffff;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1.title{
    font-size: 5rem;
}

.title{
    position: absolute;
    color: #ffd700;
    filter: drop-shadow(0 0 0.1em rgba(0,0,0,.9));
}

#title{
    top:25%;
    left:10%;
}

#subtitle{
    top:35%;
    left:10%;
}

#texte_libre{
    margin:-10px 15vh 0 15vh;
    background-color: #181818;
    color: #ffffff;
    padding-bottom: 15px;
}

#texte_libre h2{
    padding: 10px 10px 0 10px;
}

#texte_libre p {
    margin: 20px 40px 10px 40px ;
}

#blocs{
    margin:10px 15vh 0 15vh;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}


#pic1{
    width: 90%;
    border-radius: 10px;
    position: relative;
}

#pic2{
    width: 90%;
    border-radius: 10px;
    position: relative;
}

#pic3{
    width: 90%;
    border-radius: 10px;
    position: relative;
}

#bloc1:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition-duration: 0.4s;
}

#bloc2:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition-duration: 0.4s;
}

#bloc3:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition-duration: 0.4s;
}

#bloc1{
    display: flex;
    transition-duration: 0.4s;
}

#bloc2{
    display: flex;
    transition-duration: 0.4s;
}

#bloc3{
    display: flex;
    transition-duration: 0.4s;
}

.teaser{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    color: #ffffff;
}

#bloc2 a{
    align-items: center;
}

#bloc3 a{
    align-items: flex-end;
}

.copyright{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    background-color: #181818;
    color: #ffffff;
}

h4{
    margin-right: 10px;
}

/* xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px */
@media screen and (max-width : 576px){
    h1{
        font-size: 1rem;
    }

    h1.title{
        font-size: 3rem;
    }
    
    #title{
        top:8%;
        left:10%;
    }
    
    #subtitle{
        top:15%;
        left:10%;
    }

    #texte_libre{
        margin:-10px 0 0 0;
    }

    #blocs{
        margin:10px 1vh 0 1vh;
        flex-direction: column;
    }

    #bloc1 a{
        align-items: center;
    }
    #bloc3 a{
        align-items: center;
    }
}

@media screen and (min-width : 577px) and (max-width:1359px){
    h1.title{
        font-size: 4rem;
    }
    
    #title{
        top:16%;
        left:10%;
    }
    
    #subtitle{
        top:25%;
        left:10%;
    }

    #texte_libre{
        margin:-10px 4vh 0 4vh;
    }

    #blocs{
        margin:10px 5vh 0 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #bloc1 a{
        align-items: center;
    }
    #bloc3 a{
        align-items: center;
    }

}

